@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.heading-container {
  display: grid;
  place-items: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.heading {
  font-family: "Shippori Antique", sans-serif;
  font-size: 5rem;
}

.subheading {
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
  padding-left: 3.5rem;
}

.g {
  color: #4285f4;
}

.o1 {
  color: #db4437;
}

.o2 {
  color: #f4b400;
}

.l {
  color: #0f9d58;
}

.e {
  color: #db4437;
}

.example-container {
  font-family: "Balsamiq Sans", cursive;
  margin-left: 20rem;
}

.example-content {
  padding-top: 1rem;
  padding-left: 2rem;
}

.example-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  padding-top: 1rem;
  padding-left: 2rem;
}

.ending-container {
  display: grid;
  place-items: center;
}

.ending {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 10rem;
}

@media (max-width: 850px) {
  .example-container {
    font-family: "Balsamiq Sans", cursive;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  .ending-container {
    display: grid;
    place-items: center;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  .ending {
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
